body {
  /* background-color: lightblue; */
  font-family: 'IBM Plex Sans', sans-serif;
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}

.xyz {
  text-align: center;
  
}

.space{
  margin: 0 20px;
}

.quick-links {
  margin-left: auto;
}

.card-body {
  height: 200px; /* Set a specific height */
  overflow: visible !important;
}

.btn-primary {
  background-color: white;
  color: black;
}

.card {
  height: auto;
  overflow: auto;
}
.navbar-brand,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: white;
}



.my-custom-bg {
  background-color: #1a237e; /* dark blue color */
}


/* .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.card-text {
  max-height: 100px;
  overflow: auto;
  flex-grow: 1;
}

.card-img-top {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

